
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
:root{


--Pink: hsl(322, 100%, 66%);
--CyanD : hsl(192, 100%, 9%);
--BlueD : hsl(201, 7%, 62%);
}
*{

    color: var(--CyanD);
    
}
header{
   
display:grid;
grid-template-columns: 1fr 1fr;
align-content: space-between;

}
header h1{
     font-family: 'Poppins', sans-serif;
     font-weight:700;
     font-size: large;
}
.logo{
    width: 1em;
    align-content: center;
    align-items: center;
   
display: flex;
}
.logo img{       width: 8.3em;
   
    margin-left: 1em;

}
.try_free{
    align-content: center;
    align-items: center;
  
    text-align: -webkit-right;
}
.try{       margin-right: 1em; font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.68em;
    padding: .4em 1em;
    text-align: center;
    color: var(--Pink);
    border: 1px solid var(--Pink);
    border-radius: 50px;
    width: fit-content;
}
.subContiner{
    margin-bottom: 5em;
    text-align: center;
}
.subContiner h1{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 1.5em;
}
.subContiner h2{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 1.5em;
}
.subContiner p{font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: normal
}
.continer{
    display: grid;
    gap: 6em;
    margin: 2em;
}
.continer > img{
    width: 100%;
}
.get-start{font-family: 'Open Sans', sans-serif;
    font-size: .93em;
    font-weight: 700;
    border-radius: 50px;
    padding: .8em 3em;
    margin-top: 2em;
    border: 1px solid var(--Pink);
    color: white;
    background-color: var(--Pink);
   box-shadow:  0PX 1px 1px var(--BlueD);
}
.quanty{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
.name{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    
    color:var(--BlueD);
}
.continer-2{
    margin: auto;
    align-content: center;
    align-items: center;
    display: grid;
}
.continer-2 img{
    width: 2em;
}
#quanty{
    margin-bottom: 5em;
    gap: 7em;
    align-content: center;
    align-items: center;
    display: grid;
    
}
.footer{
 margin: auto;
    background-color: var(--CyanD);
}
.subFooter h1{
    color: white;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size: 1.5em;
}
.subFooter > p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: normal
}
footer{
    display: grid;
}
footer img{
    margin-bottom: -1px;
}
body{
     margin: 0;
  padding: 0;
}
.subFooter{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 3em 2em;
    text-align: left;
}
.subFooter input{
    width: 100%;
border-radius: 8px;
    height: 2.7em;
}
form p{
    font-family: 'Open Sans', sans-serif;
    font-size: .93em;
    font-weight: 700;
    border-radius: 8px;
    padding: .8em 3em;
    margin-top: 2em;
    border: 1px solid var(--Pink);
    color: white;
    background-color: var(--Pink);

}.subFooter form{
    text-align: -webkit-right;
    display: flex;
    flex-wrap: wrap;
}
.subFooter span img{
    margin-right: 1em;
    
}
.subFooter span{
    margin: .5em 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: normal

}